.user_access_code, .user_keys{

	display: none;
}

i.analytify-shortcodes-icon{
	
	background-image: url('analytify-shortcode-button.png');
}
.opt-title{
	font-size: 18px;
}

.gray-areas{

	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	padding: 10px 0px;
}

.analytics-options{
	margin: -1px 0 5px 0;
	display: inline-block;
	padding-top: 5px;
	float: left;
}
.wrap p.description {
	
	font-size: 15px;
	margin-bottom: 20px;
}
.chosen-container-multi .chosen-choices,.chosen-container-active .chosen-choices{
	padding: 5px !important;
	
}
.chosen-container{
	min-width: 300px;
}
.data_boxes *{
	box-sizing:border-box;
	line-height: 1.6 !important;
}
.Real_Time_Statistics_table{
	width:100%;
	border-radius:5px;
	border-collapse:collapse;
	border: 1px solid #e2e5e8;
	clear:both;
}
.wd_1{
	width:50px;
	border:0 !important;
}
.wd_2{
	width:70px;
}
.Real_Time_Statistics_table th{
	background-color: #f9fafa;
	padding:5px 10px;
	border-left: 1px solid #e2e5e8;
	text-align:left;
}
.Real_Time_Statistics_table td{
	background-color: #fff;
	border-top: 1px solid #e2e5e8;
	padding:4px 6px;
}

.data_boxes{
	background: #fff;
	margin-bottom: 30px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	clear: both;
}
.data_boxes_title{
	padding:6px 30px;
	background-color: #F9845B;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 24px;
	line-height: 1.6;
	position: relative;
}
.data_boxes_title.close{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
	}
.arrow_btn{
	width:25px;
	height:16px;
	position:absolute;
	top:50%;
	right:10px;
	background:url(../images/arrow.png) no-repeat 0 0;
	margin-top: -8px;
}
.arrow_btn:hover{
	background:url(../images/arrow.png) no-repeat right 0;
	cursor: pointer;
}
.close .arrow_btn{
	background:url(../images/arrow.png) no-repeat 0 bottom;
}
.close .arrow_btn:hover{
	background:url(../images/arrow.png) no-repeat right bottom;
}
.data_container{
	overflow:hidden;
	border-left: 1px solid #e2e5e8;
	border-right: 1px solid #e2e5e8;
	padding-top:20px;
}
.data_boxes_footer{
	background-color: #f9fafa;
	border: 1px solid #e2e5e8;
	padding: 15px 30px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	position: relative;
}
.grids_auto_size{
	float:left;
	width:30.5%;
	min-height:220px;
	border: 1px solid #e2e5e8;
	margin:10px 0 10px 2%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.grid_title{
	padding:6px 10px;
	background-color: #4fca74;
	color: #fff;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	margin:0;
	margin:-1px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.cen{
	text-align:center;
}
.grid_data{
}
.data_value{
	font-size:40px;
}
.grid_footer{
	padding:10px;
}
.chart {
  width: 100%; 
  height: 600px;
}
#tagcloud a:link, #tagcloud a:visited {
    text-decoration:none;
    color: #333;
}
 
#tagcloud a:hover {
    text-decoration: underline;
}
 
#tagcloud .keywordscont {
    color: #000;
	padding: 0 10px;
	float: left;
	width: 23%;
}
#tagcloud .visits_by_keyword:after{
	position: absolute;
	width: 15px;
	height: 15px;
	background: #ddd;
	content: "";
	top: 58%;
	left: -21px;
	border-radius: 30px;
	display: block;
	margin-top: -7px;
}
#tagcloud .smallest span {
    font-size: 25px;
 	position: relative;
}
 
#tagcloud .small span{
    font-size: 30px;
    position: relative;
}
 
#tagcloud .medium span{
    font-size:40px;
 	position: relative;
}
 
#tagcloud .large span{
    font-size:50px;
 	position: relative;
}
 
#tagcloud .largest span{
    font-size:55px;
  	position: relative;
}
.guest-show{
  display: block;
}
.stats {
		float: left;
		padding: 0px 20px;
		margin-bottom: 10px;
		width: 33%;
}
.stats:first-child{
  /*border-left: 0;*/
}
.names_grids{
		text-align: center;
		padding: 40px 0 10px;
		overflow: hidden;
		width: 87%;
		margin: 0 auto;
}
.realtime{
  overflow: hidden;
  padding: 10px 4%;
}
.pa-tdo-left{
	float:left;
	width:40%;
	border-right: 1px solid #e2e5e8;
}
.pa-online{
	display: block !important;
	width: 250px;
	height: 250px;
	border-radius: 1000px;
	line-height: 250px !important;
	background: #e2e5e8 !important;
	text-align: center;
	font-size: 66px;
	color: #fff;
	font-weight: 900;
}
.pa-bigtext {
	width: 20%;
	float: left;
	margin-bottom: 10px;
	text-align: center;
}
.pa-bigtext .source{
    display: block;
}
.pa-bigtext a {
    font-size: 15px;
    text-decoration: none;
    color: #857575;
}
.count-visits {
	font-size: 40px;
	border:2px solid #ccc;
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 1000px;
	text-align: center;
	line-height: 100px !important;
	margin:0 auto;
}
.count-ex-visits {
	font-size: 40px;
	border:2px solid #ccc;
	display: inline-block;
	border-radius: 1000px;
	line-height: 100px !important;
	padding: 0 8px 0 8px;
}
.opt-title{
	overflow: hidden;
}
#icon-options-general img{
	 margin-bottom: 5px;
	 margin-right: 5px;
}
.left-area{
	 float: left;
	 width: 70%;
}
.right-area{
	 float: right;
	 width: 24%;
}
.right-area img{
 	margin-top: 10px;
}
.large-count{
	font-size: 40px;
	line-height: 1 !important;
	position: relative;
}
.hide{
	display: none;
}
.visitor-stats{
	position: relative;
}

.visitor-stats-new .font-sizing{
		font-size: 13px;
		position: relative;
}
.visitor-stats-new,.visitor-stats-ret {
	position: relative;
	margin-left: 20px;
}
.font-sizing:after {
	position: absolute;
	width: 15px;
	height: 15px;
	background: #4fca74;
	content: "";
	top: 50%;
	left: -17px;
	margin-top: -8px;
	border-radius: 30px;
}
.visitor-stats-ret .font-sizing{
		font-size: 13px;
		position: relative;
}
.visitor-stats-ret .font-sizing:after{
	background: #0E9236;
}
.large-count:after{
	position: absolute;
	width: 15px;
	height: 15px;
	background: #ddd;
	content: "";
	top: 50%;
	left: -21px;
	border-radius: 30px;
	display: block;
	margin-top: -7px;
}
.blk{
	  height:30px;
	  width:30px;
	  text-align:center;
	  display:block;
	  background:#5fcf80;
	  border-radius:50%;
	  text-decoration:none;
	  -webkit-box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  box-sizing:border-box;
	  padding: 1px;
	  float: left;
	  margin-right: 5px;
	  position: absolute;
	  top: 50%;
	  margin-top: -15px;
}
.blk span{
	  width:5px;
	  display:block;
	  margin:3px auto 2px auto;
	  background:#fff;
}
.dot{
	  height:5px;
	  border-radius:50%;
}
.line{
	  height:13px;
	  border-radius: 5px;
}
.information-txt {
	margin-top: 4px;
	float: left;
	padding-left: 35px;
}
.btn-green{
	background-color: #5fcf80 !important;
	border-color: #3ac162 !important;
}
.pa-filter{
	margin-left: 20%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.wpa_side_box{
	min-height: 10px !important;

}
.wpa_side_box a{
	text-decoration: none;
}
@media (max-width: 800px){
	.pa-tdo-left{
		width: 100%;
		float:none;
		margin-bottom: 10px;
		border:0;
	}
	.pa-tdo-right{
		width: 100%;
		float:none;
	}
	.pa-online{
		margin: 0 auto;
	}
	.pa-bigtext{
		width: 33%;
	}
	.pa-online{
		width: 200px;
		height: 200px;
		line-height: 200px !important;
	}
	.pa-filter{
		margin-left: 0 !important;
	}
	.grids_auto_size{
		min-height: 230px;
	}
}
@media (max-width: 650px){
	.grid_title{
		font-size: 13px;
	}
	.data_value{
		font-size: 25px;
	}
	#tagcloud .keywordscont{
		width: 32%;
	}
	.data_boxes_title{
		font-size: 17px;
		padding:6px 18px;
	}
	.hasDatepicker {
		width: 33%;
	}
}
@media (max-width: 480px){
	.count-visits{
		width: 75px;
		height: 75px;
		line-height: 75px !important;
	}
	.pa-bigtext a{
		font-size: 13px;
	}
	.grids_auto_size{
		width: 47%;
	}
	.stats{
		width: 50%;
	}
	#tagcloud .keywordscont{
		width: 47%;
	}

}
@media (max-width: 400px){
	.grids_auto_size{
		width: 98%;
	}
	.visits-count i{
		word-break:break-all;
	}
	#tagcloud .keywordscont{
		width: 97%;
	}
	.stats{
		width: 97%;
	}
	.hasDatepicker {
		width: 30%;
		font-size: 12px;
	}
	
}
.selector-item{
	margin-top: 10px;
}
.selector-item label{
	display: inline-block;
	width: 84px;
	vertical-align: middle;

}
.selector-item select{
	display: inline-block;
}
.selector-item .select2-container,.selector-item input[type='text'],.selector-item input[type='number']{
	width: 300px;
}
#TB_window,#TB_ajaxContent{
 
	-webkit-box-shadow:none  !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important;
	box-shadow:none !important;
	overflow: hidden;
}
.analytify-shortcode-edit-popup{
	padding: 13px;
	margin: auto;
	-webkit-box-sizing: border-box;
	left: 0;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	right: 0;
 
	overflow: auto;
}
.analytify-shortcode-edit-popup .popup-title{
	margin-top: 0;
}
#TB_title{
 
	margin: 0 auto;
	position: relative;
	bottom: -3px;
}
/*#TB_window{
	width: auto !important;
	height: auto !important;
	min-width: 450px;
}
#TB_ajaxContent{
	max-height: 500px;
	overflow-x: auto;
}
#TB_ajaxContent .chosen-container .chosen-results{
	max-height: 179px;
}
*/
.selector-item .chzn-container-multi .chzn-choices{
	width: 300px;
	padding: 3px 5px;
	border: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.right-side{
	text-align: right;
	width: 388px;
}

#error{
	padding: 10px;
	margin: 0;
	width: 367px;
}
.search-field{
	width: 100% !important;
}
.popup-title{
	font-size: 12px;
	width: 374px;
}

/*  jQuery datepicker CSS */

/* DatePicker Container */
body div.mycalander {
	background:#fff;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
	-webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, .05);
	-moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, .05);
	box-shadow: 4px 4px 0px rgba(0, 0, 0, .05);
	display:none;
	border:0;
	border-radius:0;
	padding:0;
	width:auto;
}
body div.mycalander .ui-datepicker-title select{
	border: 0px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.0);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.0);
	width: auto;
	font-weight: normal;
	margin: 1px;
}
body div.mycalander   a {
	text-decoration: none;
}
/* DatePicker Table */
body div.mycalander   table {
	width: 100%;
	border-collapse:separate;
	margin:0;
}
body div.mycalander .ui-datepicker-header {
	background:#3ac162;
	padding:4px 0;
	border-radius:0;
	border:0;
}
body div.mycalander .ui-datepicker-title {
	text-align: center;
}
body div.mycalander .ui-datepicker-prev,body div.mycalander .ui-datepicker-next {
	display: inline-block;
	width: 42px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	line-height: 30px;
	overflow: hidden;
	color:#fff;
	position:static;
}
body div.mycalander .ui-datepicker-prev {
	float: left;
}
body div.mycalander .ui-datepicker-next {
	float: right;
}
body div.mycalander .ui-datepicker-prev:hover,body div.mycalander .ui-datepicker-next:hover{
	color:#fff;
	text-shadow:1px 1px 0px rgba(0,0,0,.4);
	border:0;
	background:none;
}
body div.mycalander .ui-datepicker-prev span, body div.mycalander .ui-datepicker-next span{
	background: none;
	text-indent: 0;
	width: auto;
	height: auto;
	position: static;
	text-align: center;
	line-height: 35px;
	margin:0;
	font-weight:normal;
}
body div.mycalander   thead {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
	background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
	border-bottom: 0px solid #bbb;
}
body div.mycalander   th {
	text-transform: uppercase;
	font-size: 6pt;
	padding: 5px 0;
	color: #666666;
	text-shadow: 1px 0px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=0);
}
body div.mycalander   tbody td {
	padding: 0;
}
body div.mycalander   tbody td:last-child {
	border-right: 0px;
}
body div.mycalander  tbody tr {
	border-bottom: 0px solid #bbb;
}
body div.mycalander   tbody tr:last-child {
	border-bottom: 0px;
}
body div.mycalander  td span,body div.mycalander td a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	text-decoration:none;
	font-size:12px;
}
body div.mycalander .ui-datepicker-calendar .ui-state-default {
	background: #ededed;
	border:0;
	padding:0;
	color: #666666;
	font-size:12px;
}
body div.mycalander .ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
body div.mycalander .ui-datepicker-calendar .ui-state-active {
	background: #F9845B;
	color: #fff;
}
body div.mycalander .ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
body div.mycalander .ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
body div.mycalander .ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
body div.mycalander .ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0;
}
.wa_feature_table{
	width:95%;
	border:0 !important;
}
.wa_feature_table{
	border-collapse:collapse;
	border:1px solid #e2e5e8;
	background:#fff;
}
.wa_feature_table th,.wa_feature_table td{
	padding:7px;
	border:1px solid #e2e5e8;
}
.wa_feature_table th{
	text-align:left;
	background:#4fca74;
	color:#fff;
	font-weight:400;
	font-size:15px;
	border-top:0;
}